.Articles {
    top: 24px;
    position: absolute;
    width: 1237px;
    height: 86px;
    left: calc(50% - 1237px/2 - 0.5px);
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 66px;
    line-height: 86px;
    text-transform: uppercase;
    color: #000000;
}

.Night {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    position: absolute;
    width: 568px;
    height: 866px;
    left: 55px;
    top: 15px;
}

#Stary {
    position: absolute;
    top: 110px;
    left: 55px;
}

#Stray-Night {
    position: absolute;
    top: 530px;
    left: 230px;
    font-size: 40px;
    line-height: 40px;
}

#p1 {
    position: absolute;
    top: 590px;
    left: 55px;
    font-size: 18px;
    line-height: 20px;
}

#immersed {
    position: absolute;
    top: 655px;
    left: 55px;
    font-size: 15px;
    line-height: 20px;
}

#button {
    position: absolute;
    top: 850px;
    left: 55px;
    width: 177px;
    height: 57px;
    background-color: white;
    color: #CEA201;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    gap: 10px;
    border: 2px solid #CEA201;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.MainofMagic {
    position: absolute;
    left: 55px;
    top: 980px;
}

#Magic {
    height: 70px;
    font-family: 'Lato';
    font-style: normal;
    font-size: 66px;
    line-height: 86px;
    text-transform: uppercase;
    color: #000000;
}

.animals {
    position: absolute;
    top: 120px;
    width: 680px;
    height: 20px;
    font-family: 'Lato';
    font-style: normal;
    font-size: 21.51px;
    line-height: 24px;
}

#works {
    position: absolute;
    top: 200px;
    color: green;
}

#oxygen {
    position: absolute;
    top: 240px;
    height: 100px;
}