#divOne {
    display: inline-block;
    text-align: center;
    width: 1289px;
    height: 1243px;
}

#articles {
    display: inline-block;
    color: #000;
    margin-top: 24px;
    margin-left: 208px;
    margin-right: 200px;
    margin-bottom: 37px;
    font-family: 'Lato';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#night {
    display: block;
    text-align: center;
    margin-top: 0 auto;
    margin-left: 55px;
    width: 568px;
    height: 788px;
    left: 55px;
    top: 15px;
}

#stary {
    display: inline-block;
    top: 110px;
    left: 55px;
}

#strayNight {
    display: inline-block;
    margin-top: 0;
    top: 530px;
    left: 230px;
    font-size: 40px;
    line-height: 40px;
}

#p1 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 16px;
    width: 568px;
    height: 70px;
    top: 590px;
    left: 55px;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

#immersed {
    display: inline-block;
    padding-left: 20px;
    color: #155EEF;
    font-size: 20px;
    top: 655px;
    left: 55px;
    font-size: 15px;
    line-height: 20px;
}

#button {
    top: 850px;
    left: 55px;
    width: 177px;
    height: 57px;
    font-size: 20px;
    text-align: center;
    background-color: white;
    color: #CEA201;
    display: block;
    align-items: center;
    padding: 12px 32px;
    border: 2px solid #CEA201;
}

#mainOfMagic {
    display: inline-block;
    left: 55px;
    top: 980px;
}

#magic {
    height: 70px;
    font-family: 'Lato';
    font-style: normal;
    font-size: 66px;
    line-height: 86px;
    text-transform: uppercase;
    color: #000000;
}

#animals {
    position: absolute;
    top: 120px;
    width: 680px;
    height: 20px;
    font-family: 'Lato';
    font-style: normal;
    font-size: 21.51px;
    line-height: 24px;
}

#works {
    position: absolute;
    top: 200px;
    color: green;
}

#oxygen {
    position: absolute;
    top: 240px;
    height: 100px;
}